backend/node_modules
frontend/node_modules
:    backend/node_modules/tr46/lib/regexes.js
        deleted:    backend/node_modules/tr46/lib/statusMapping.js
        deleted:    backend/node_modules/tr46/package.json
        deleted:    backend/node_modules/type-is/HISTORY.md
        deleted:    backend/node_modules/type-is/LICENSE
        deleted:    backend/node_modules/type-is/README.md
        deleted:    backend/node_modules/type-is/index.js
        deleted:    backend/node_modules/type-is/package.json
        deleted:    backend/node_modules/undefsafe/.github/workflows/release.yml
        deleted:    backend/node_modules/undefsafe/.jscsrc
        deleted:    backend/node_modules/undefsafe/.jshintrc
        deleted:    backend/node_modules/undefsafe/.travis.yml
        deleted:    backend/node_modules/undefsafe/LICENSE
        deleted:    backend/node_modules/undefsafe/README.md
        deleted:    backend/node_modules/undefsafe/example.js
        deleted:    backend/node_modules/undefsafe/lib/undefsafe.js
        deleted:    backend/node_modules/undefsafe/package.json
        deleted:    backend/node_modules/undici-types/LICENSE
        deleted:    backend/node_modules/undici-types/README.md
        deleted:    backend/node_modules/undici-types/agent.d.ts
        deleted:    backend/node_modules/undici-types/api.d.ts
        deleted:    backend/node_modules/undici-types/balanced-pool.d.ts
        deleted:    backend/node_modules/undici-types/cache-interceptor.d.ts
        deleted:    backend/node_modules/undici-types/cache.d.ts
        deleted:    backend/node_modules/undici-types/client.d.ts
        deleted:    backend/node_modules/undici-types/connector.d.ts
        deleted:    backend/node_modules/undici-types/content-type.d.ts
        deleted:    backend/node_modules/undici-types/cookies.d.ts
        deleted:    backend/node_modules/undici-types/diagnostics-channel.d.ts
        deleted:    backend/node_modules/undici-types/dispatcher.d.ts
        deleted:    backend/node_modules/undici-types/env-http-proxy-agent.d.ts
        deleted:    backend/node_modules/undici-types/errors.d.ts
        deleted:    backend/node_modules/undici-types/eventsource.d.ts
        deleted:    backend/node_modules/undici-types/fetch.d.ts
        deleted:    backend/node_modules/undici-types/formdata.d.ts
        deleted:    backend/node_modules/undici-types/global-dispatcher.d.ts
        deleted:    backend/node_modules/undici-types/global-origin.d.ts
        deleted:    backend/node_modules/undici-types/h2c-client.d.ts
        deleted:    backend/node_modules/undici-types/handlers.d.ts
        deleted:    backend/node_modules/undici-types/header.d.ts
        deleted:    backend/node_modules/undici-types/index.d.ts
        deleted:    backend/node_modules/undici-types/interceptors.d.ts
        deleted:    backend/node_modules/undici-types/mock-agent.d.ts
        deleted:    backend/node_modules/undici-types/mock-call-history.d.ts
        deleted:    backend/node_modules/undici-types/mock-client.d.ts
        deleted:    backend/node_modules/undici-types/mock-errors.d.ts
        deleted:    backend/node_modules/undici-types/mock-interceptor.d.ts
        deleted:    backend/node_modules/undici-types/mock-pool.d.ts
        deleted:    backend/node_modules/undici-types/package.json
        deleted:    backend/node_modules/undici-types/patch.d.ts
        deleted:    backend/node_modules/undici-types/pool-stats.d.ts
        deleted:    backend/node_modules/undici-types/pool.d.ts
        deleted:    backend/node_modules/undici-types/proxy-agent.d.ts
        deleted:    backend/node_modules/undici-types/readable.d.ts
        deleted:    backend/node_modules/undici-types/retry-agent.d.ts
        deleted:    backend/node_modules/undici-types/retry-handler.d.ts
        deleted:    backend/node_modules/undici-types/util.d.ts
        deleted:    backend/node_modules/undici-types/utility.d.ts
        deleted:    backend/node_modules/undici-types/webidl.d.ts
        deleted:    backend/node_modules/undici-types/websocket.d.ts
        deleted:    backend/node_modules/unpipe/HISTORY.md
        deleted:    backend/node_modules/unpipe/LICENSE
        deleted:    backend/node_modules/unpipe/README.md
        deleted:    backend/node_modules/unpipe/index.js
        deleted:    backend/node_modules/unpipe/package.json
        deleted:    backend/node_modules/util-deprecate/History.md
        deleted:    backend/node_modules/util-deprecate/LICENSE
        deleted:    backend/node_modules/util-deprecate/README.md
        deleted:    backend/node_modules/util-deprecate/browser.js
        deleted:    backend/node_modules/util-deprecate/node.js
        deleted:    backend/node_modules/util-deprecate/package.json
        deleted:    backend/node_modules/utils-merge/.npmignore
        deleted:    backend/node_modules/utils-merge/LICENSE
        deleted:    backend/node_modules/utils-merge/README.md
        deleted:    backend/node_modules/utils-merge/index.js
        deleted:    backend/node_modules/utils-merge/package.json
        deleted:    backend/node_modules/vary/HISTORY.md
        deleted:    backend/node_modules/vary/LICENSE
        deleted:    backend/node_modules/vary/README.md
        deleted:    backend/node_modules/vary/index.js
        deleted:    backend/node_modules/vary/package.json
        deleted:    backend/node_modules/webidl-conversions/LICENSE.md
        deleted:    backend/node_modules/webidl-conversions/README.md
        deleted:    backend/node_modules/webidl-conversions/lib/index.js
        deleted:    backend/node_modules/webidl-conversions/package.json
        deleted:    backend/node_modules/whatwg-url/LICENSE.txt
        deleted:    backend/node_modules/whatwg-url/README.md
        deleted:    backend/node_modules/whatwg-url/index.js
        deleted:    backend/node_modules/whatwg-url/lib/Function.js
        deleted:    backend/node_modules/whatwg-url/lib/URL-impl.js
        deleted:    backend/node_modules/whatwg-url/lib/URL.js
        deleted:    backend/node_modules/whatwg-url/lib/URLSearchParams-impl.js
        deleted:    backend/node_modules/whatwg-url/lib/URLSearchParams.js
        deleted:    backend/node_modules/whatwg-url/lib/VoidFunction.js
        deleted:    backend/node_modules/whatwg-url/lib/encoding.js
        deleted:    backend/node_modules/whatwg-url/lib/infra.js
        deleted:    backend/node_modules/whatwg-url/lib/percent-encoding.js
        deleted:    backend/node_modules/whatwg-url/lib/url-state-machine.js
        deleted:    backend/node_modules/whatwg-url/lib/urlencoded.js
        deleted:    backend/node_modules/whatwg-url/lib/utils.js
        deleted:    backend/node_modules/whatwg-url/package.json
        deleted:    backend/node_modules/whatwg-url/webidl2js-wrapper.js
        deleted:    backend/node_modules/wide-align/LICENSE
        deleted:    backend/node_modules/wide-align/README.md
        deleted:    backend/node_modules/wide-align/align.js
        deleted:    backend/node_modules/wide-align/package.json
        deleted:    backend/node_modules/wrappy/LICENSE
        deleted:    backend/node_modules/wrappy/README.md
        deleted:    backend/node_modules/wrappy/package.json
        deleted:    backend/node_modules/wrappy/wrappy.js
        deleted:    backend/node_modules/ws/LICENSE
        deleted:    backend/node_modules/ws/README.md
        deleted:    backend/node_modules/ws/browser.js
        deleted:    backend/node_modules/ws/index.js
        deleted:    backend/node_modules/ws/lib/buffer-util.js
        deleted:    backend/node_modules/ws/lib/constants.js
        deleted:    backend/node_modules/ws/lib/event-target.js
        deleted:    backend/node_modules/ws/lib/extension.js
        deleted:    backend/node_modules/ws/lib/limiter.js
        deleted:    backend/node_modules/ws/lib/permessage-deflate.js
        deleted:    backend/node_modules/ws/lib/receiver.js
        deleted:    backend/node_modules/ws/lib/sender.js
        deleted:    backend/node_modules/ws/lib/stream.js
        deleted:    backend/node_modules/ws/lib/subprotocol.js
        deleted:    backend/node_modules/ws/lib/validation.js
        deleted:    backend/node_modules/ws/lib/websocket-server.js
        deleted:    backend/node_modules/ws/lib/websocket.js
        deleted:    backend/node_modules/ws/package.json
        deleted:    backend/node_modules/ws/wrapper.mjs
        deleted:    backend/node_modules/yallist/LICENSE
        deleted:    backend/node_modules/yallist/README.md
        deleted:    backend/node_modules/yallist/iterator.js
        deleted:    backend/node_modules/yallist/package.json
        deleted:    backend/node_modules/yallist/yallist.js

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
        modified:   .gitignore
